<!DOCTYPE html>
<html>
<head>
  <title>SndTimetracking</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
      <% if signed_in? %>
          <ul class="nav secondary-nav">
            <li>
              <%= link_to "Sign Out", signout_path %>
            </li>
          </ul>
      <% else %>
          <ul class="nav secondary-nav">
            <li>
              <%= link_to "Sign In", signin_path %>
            </li>
          </ul>
      <% end %>
</div>
<%= yield %>

</body>
</html>
